
body {
    font-family: Arial, sans-serif;
    background-color: #ceb8f7;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


h1 {
    color: #333;
    font-size: 2.5rem;
    text-transform: uppercase;
}


.widget {
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s ease-in-out;
}

.widget:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.counter-btn {
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s ease-in-out;
}

.counter-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    margin: 0 10px; 
}

.buttons a {
    color: inherit;
    text-decoration: none;
}
